.squares {
  border: 1px dotted rgb(110, 78, 78);
  background-color: rgb(131, 151, 168);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
}

.square-row {
  display: flex;
}

.container {
  display: flex;
}
